@import "../../css/reset.css";


input { -webkit-appearance: none !important;     outline: none;
    border: none;}
input:focus, input:click, input:hover {
    background-color: #fff !important;
	-webkit-appearance: none !important;
	    outline: none;
	border: none;
}
.inputclss, .left{
	background-color: #fff !important;
	-webkit-appearance: none !important;
	outline: none;
	border: none;
}

.page_bg{
    width: 100%;
    height: auto;
}
.page_box{
    width: 100%;
    position: absolute;
    opacity: 1;
    transition: all .5s;
    -webkit-transition: all .5s;
    /* position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; */
}
/*img{*/
    /*width: 100%;*/
    /*min-height: 100%;*/
    /*display: inline-block;*/
/*}*/
.bg_img{
    width: 100%;
    height: auto;
    display: block;
}
.md_name{
    position: absolute;
    top: 5%;
    left: 65%;
    color: #fff600;
    font-size: 120%;
    font-weight: bold;
}
.onebutton{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
	min-height: 3.336rem;
    display: -webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    -moz-box-pack:center;
    -moz-box-align:center;
    z-index: 10;
}
.common_button{
/*    width: 250px; */
	width: 160px;
    height: 44px;
    display: -webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    -moz-box-pack:center;
    -moz-box-align:center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}
.twobutton{
    position: absolute;
    /*top:0;*/
    /*left: 0;*/
    display: -webkit-box;
    -webkit-box-orient:vertical;
    -moz-box-orient:vertical;
    -webkit-box-pack:center;
    -webkit-box-align:end;
    width: 100%;
    margin-top: 12%;
    /*min-height: 86.011905%;*/
    z-index: 1;
    overflow: hidden;
}
.two_anniu{
    display: -webkit-box;
    -webkit-box-orient:horizontal;
    -moz-box-orient:horizontal;
    -webkit-box-pack:center;
    -webkit-box-align:end;
    width: 100%;
    height: 32px;
    z-index: 1;
}
.button{
    display: -webkit-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 43.75%;
    height: 32px;
    position: relative;
}
.button_highlighted{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.photo_button{
    /* position: absolute;
    top: 74.404762%; */
    left: 0;
    width: 100%;
    height: 44px;
    display: -webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    -moz-box-pack:center;
    -moz-box-align:center;
}
.receipts_button{
    /* width: 93.75%;
    height: 100%; */
    width: 250px;
    height: 44px;
    /*background-image: url("../../images/phone.png");*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/*输入兑奖码CSS*/
.main{
    position: absolute;
    top:0;
    left: 0;
    display: -webkit-box;
    -webkit-box-pack:center;
    -moz-box-pack:center;
    width: 100%;
    height:73%;
    z-index: 2;
}
.left_main{
    display: -webkit-box;
    -webkit-box-align:center;
    -moz-box-align:center;
    -webkit-box-orient:vertical;
    -moz-box-orient:vertical;
    width: 100%;
    z-index: 2;
}
.left_main_img{
    display: block;
    width:88%;
    height:25%;
    margin:40px auto 0 auto;
}
.coupon_img{
    display: -webkit-box;
    width: 85%;
    min-height: 100px;
    margin-top:10.56338%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}
.check_input{
    display:inline-block;
    -webkit-box-align:center;
    -moz-box-align:center;
    -webkit-box-orient:vertical;
    -moz-box-orient:vertical;
    /* width: 100%; */
    width: 290px;
    margin-top: 20px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none !important;
    margin: 0;
}
*::-webkit-input-placeholder {
    text-align: left;
}
input{
    font-size: 14px;
}
.input_name{
    display: none;
    border-radius:5px;
    width: 290px;
    height: 40px;
    padding-left: 15px;
    outline: none;
    border: none;
    color:#000;
    line-height: 40px;
    background-color: rgba(255,255,255,1);
    overflow: hidden;
}
.vertion{
    display: -webkit-box;
    -webkit-box-orient:vertical;
    -moz-box-orient:vertical;
    /* width: 87.5%;
    height: 90px; */
    margin-top: 13px;
}
.vertion_box{
    display: -webkit-box;
    -webkit-box-orient:horizontal;
    -moz-box-orient:horizontal;
    border: none;
    width: 100%;
    height: 40px;
    text-align: center;
}
.input_phone{
    display: -webkit-box;
    width: 63.857143%;
    height: 40px;
    padding-left: 15px;
    border-radius: 5px;
    outline: none;
    border: none;
    color:#000;
    line-height: 40px;
    background-color: rgba(255,255,255,1);
}
.vertion_obtain{
    display: -webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    -moz-box-pack:center;
    -moz-box-align:center;
    width: 32.142857%;
    height:40px;
    border-radius: 5px;
    background-color: #ddd;
    color: #666;
    font-size: 12px;
}
.input_vertion{
    display: -webkit-box;
    width: 100%;
    height: 40px;
    padding-left: 15px;
    border-radius: 5px;
    outline: none;
    border: none;
    color:#000;
    background-color: rgba(255,255,255,1);
    margin-top: 13px;
}
.vertion_photo{
    display: -webkit-box;
    -webkit-box-orient:horizontal;
    -moz-box-orient:horizontal;
    /* width: 87.5%; */
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-top: 13px;
}
.vertion_photo_info{
    display: -webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    -moz-box-pack:center;
    -moz-box-align:center;
    border-radius: 5px;
    width: 32.142857%;
    height: 40px;
    overflow: hidden;
}
#phontoMessage{
    width: 100%;
    height: 100%;
}
.submit_button{
    /* overflow: hidden; */
    width: 250px;
    height: 44px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 102px;
}
/* @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : portrait) { .submit_button{ height: 55px; }}  
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : landscape) { .submit_button{ height: 55px; }} 
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation : portrait) { .submit_button{ height: 62.5px; }}
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation : landscape) { .submit_button{ height: 62.5px; }} */
.djm_submit{
    /* display: inline-block;
    margin-left: 7.8125%; */
    margin-left: auto;
    margin-right: auto;
}
/*选择卖场*/
.right_main{
    display: -webkit-box;
    -webkit-box-align:center;
    -moz-box-align:center;
    -webkit-box-pack:end;
    -moz-box-pack:end;
    -webkit-box-orient:vertical;
    -moz-box-orient:vertical;
    width: 100%;
    z-index: 2;
}
.decision_stores{
    display: -webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    -moz-box-pack:center;
    -moz-box-align:center;
    -webkit-box-orient:horizontal;
    -moz-box-orient:horizontal;
    width: 90.625%;
    height: 40px;
    background-color: #fff;
}
.xuanzemaichang{
    display: -webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    -moz-box-pack:center;
    -moz-box-align:center;
    width: 27.586207%;
    height: 40px;
    font-size: 12px;
    background-color:#666666;
    color: #fff;
}
select{
    display: -webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    -moz-box-pack:center;
    -moz-box-align:center;
    text-align: center;
    width: 72.413793%;
    height: 40px;
    font-size: 14px;
    background:none;
    outline: none;
    border: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    padding-left: 5%;
}
.decision_money{
    display: -webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    -moz-box-pack:center;
    -moz-box-align:center;
    -webkit-box-orient:horizontal;
    -moz-box-orient:horizontal;
    width: 90.625%;
    height: 40px;
    background-color: #fff;
    margin-top: 20px;
}
.tanchutishi{
    z-index: 99999;
    position: absolute;
    top: 0;
    left: 0;
    display: -webkit-box;
    -webkit-box-pack:center;
    -moz-box-pack:center;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0);
}
.tanchutishi_box{
    display: -webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    -moz-box-pack:center;
    -moz-box-align:center;
    border: none;
    border-radius: 5px;
    width: 42.5%;
    height: 45px;
    background-color: rgba(0,0,0,0.7);
    margin-top: 45%;
    color: #fff;
}
.box_hdgz{
    position: absolute;
    top:85.285714%;
    left:36.875%;
    width: 30.75%;
    height: 6.97619%;
}
.error_cuowu{
    z-index: 99999;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    -moz-box-pack:center;
    -moz-box-align:center;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
}
.error_leixing{
    z-index: 99999;
    position: absolute;
    top: 0;
    left: 0;
    display: -webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    -moz-box-pack:center;
    -moz-box-align:center;
    width: 100%;
    height: 112.5%;
    background-color: rgba(0,0,0,0.6);
}
.error_cuowu_box{
    width: 67.1875%;
    height: 24.691358%;
    background-color:#fff;
    border-radius: 5px;
    display: -webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    -moz-box-pack:center;
    -moz-box-align:center;
    -webkit-box-orient:vertical;
    -moz-box-orient:vertical;
    overflow: hidden;
    margin-top: -30%;
}
.tishi_top{
    width: 100%;
    height: 66.552577%;
    display: -webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    -moz-box-pack:center;
    -moz-box-align:center;
}
.tishi_title{
    font-size: 140%;
    color: #333;
}
.tishi_queren{
    width: 100%;
    height: 33.447423%;
    color: #00bbee;
    font-size: 160%;
    display: -webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    -moz-box-pack:center;
    -moz-box-align:center;
}

/* 活动说明、活动时间 */
.act_rule_wrap{
  
    width: 100%;
    margin: 0 auto;
    /*border: 1px solid #000;*/
    text-align: center;
}

.act_rule_btn{
    width: 100%;
    font-size: 1.6rem;
    /* padding-top: 2%; */
    color: #ffffff;
    /* text-shadow: 0 2px 5px rgba(0,0,0,.5); */
    text-decoration: underline;
    font-weight: bold;
}

.act_time{
    padding-top: 15px;
    box-sizing: border-box;
    /* margin-top: 10px; */
    font-size: 1.5rem;
    color: #ffffff;
    /* text-shadow: 0 2px 5px rgba(0,0,0,.5); */
    font-weight: 500;
}

/* 活动说明弹窗 */
.act_rule_img_wrap{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}


.act_rule_img{
    width: 90%;
    height: 80%;
    margin: 5% auto 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    border-radius: .2rem;
}

.close_act_rule_btn{
    width: 90%;
    height: 8%;
    position: fixed;
    top: 86%;
    left: 5%;
    z-index: 9999;
    background: #ffffff;
    border-radius: .2rem;
    text-align: center;
    display: inline-flex;
    display: -webkit-inline-flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    font-size: 1.6rem;
    transition: all 1s;
    -webkit-transition: all 1s;
}


.close_act_rule_btn:active {
    background: #b5b5b5;
    transition: all 1s;
    -webkit-transition: all 1s;
}

.act_rule_img img{
    width: 100%;
    height: auto;
    border-radius: .2rem;
}




.next_btn {
	position: absolute;
	width: 20rem;
	left: calc((100% - 20rem)/2);
	top: 63%;
	/* 	top: 102%; */
	height: 5rem;
	/*    border: 1px solid #000; */
	z-index: 10;
	text-align: center;
	/*    opacity: 1;
    transition: all .5s;
    -webkit-transition: all .5s; */
}

.next_text {
	position: absolute;
	width: 23rem;
	left: calc((100% - 23rem)/2);
	top: 72%;
	/* 	top: 102%; */
	height: 5rem;
	/*    border: 1px solid #000; */
	z-index: 10;
	text-align: center;
/*	color: #fff;*/
	font-size: 16px;
 text-decoration: underline

}

.next_time {
	position: absolute;
	width: 100%;
	top: 77%;
	height: 5rem;
	z-index: 10;
	text-align: center;

/*	color: #fff;*/
}

.next_btn:active {
	/*    opacity: .85;
    transition: all .3s;
    -webkit-transition: all .3s; */
}

.next_btn img {
	width: 100%;
	height: 100%;
}