@import "../../css/reset.css";

html{font-size:13.33333333vw}

#container {
    width: 100%;
    height: auto;
    position: relative;	
}

.page_bg {
    /*    position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    display: block;
    overflow: hidden;
    pointer-events: none;
/*    position: relative; */
}

.page_bg img {
    width: 100%;
    height: 100%;
    display: block;
}

.page_box, .info_list{
	height: 49.5rem;
	width: 84%;
	position: absolute;
	top: 26%;
	left: 8%;
	
}

.page_box img{
    width: 100%;
    height: 100%;
}

.next{
	position: absolute;
	top: 71%;
	left: calc((100% - 5rem) / 2);
	height: 8%;
	width: 5rem;
/* 	border: 1px solid red; */
}
.next img{
	height: 100%;
	width: 100%;
	display: block;
}



.next1{
	position: absolute;
	top: 71%;
	left: calc((100% - 5rem) / 2);
	height: 8%;
	width: 5rem;
/* 	border: 1px solid red; */
}


.next1 img{
	height: 100%;
	width: 100%;
	display: block;
}

.input_one ,.input_two{
	position: absolute;
	left: 10%;
/* 	border: 1px solid red; */
	height: 4.5rem;
	width: 80%;
	border-radius: .75rem;
  display: flex;
  justify-content: center;
  align-items: center;	
}

.input_one .input {
	height: 100%;
	width: 100%;
	border-radius: .75rem;
	padding: 0 1rem;
	border: none;	
}
.input_one{
	top: 34%;
}
.input_two{
	top: 46%;
}
.input_two .input{
	width: 60%;
	border: none;
	margin: 0;
    height: 100%;
	border-radius: .75rem;
	-webkit-border-top-right-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	padding: 0 1rem;	
}

.get_check_code, .img_code{
    width: 39%;
    height: 100%;
/* 	background-color: rgb(52,8,97);		 */
/*    color: #fff; */
    /*border-radius: .4rem;*/
    font-size: 1.5rem;
	border: 0;
	border-left:1px solid #e3e3e3;
    border-radius: .4rem;	
    text-align: center;
    transition: all .3s;
    -webkit-transition: all .3s;
	-webkit-border-top-left-radius: 0;
	-webkit-border-bottom-left-radius: 0;	
}
.get_check_code img{
	height: 100%;
	width: 100%;
}

.rule{
	position: absolute;
	top: 83%;
	left: calc((100% - 8rem) /2);
	height: 4rem;
	width: 8rem;
/* 	border: 1px solid  #06AD56; */

}

.prize_info{
	height: auto;
	width: 5.5rem;
	position: absolute;
	top: 14%;
	left: calc((100% - 5.5rem)/2);
/* 	border: 1px solid green; */
	font-size:  .36rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	color: rgb(255,0,0) ;
	text-align: center;
	font-weight: 700;
}

.prize_info .title{
	font-size: .36rem;
	margin-bottom: .3rem;
}

.prize_info .footer{
	margin-top: .1rem;
}