<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="x5-fullscreen" content="true">
	<meta name="full-screen" content="yes">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
	<meta http-equiv="cache-control" content="max-age=0" />
	<meta http-equiv="cache-control" content="no-cache" />
	<meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
	   <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=no"/>
	<title>Little Freddie小皮辅食泥</title>
	<link rel="stylesheet" href="xiaopi_h5/css/loading.css" />
	<link rel="stylesheet" href="xiaopi_h5/css/weui.min.css" />
	<link rel="stylesheet" href="xiaopi_h5/css/index.css" />

	<script type="text/javascript" src="xiaopi_h5/js/vue.min.js"></script>
	<script type="text/javascript" src="xiaopi_h5/js/zexUtility.js"></script>

	<script type="text/javascript" src="xiaopi_h5/js/jquery.js"></script>
	<link rel="stylesheet" href="xiaopi_h5/js/swiper.min.css">
	<script type="text/javascript" src="xiaopi_h5/js/swiper.min.js"></script>
	<script type="text/javascript">
	</script>
	<style>
		.weui-mask {
			background: rgba(0, 0, 0, .8);
		}

		html,
		body {
			position: relative;
			height: 100%;
		}

		body {
			background: #eee;
			font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
			font-size: 14px;
			color: #000;
			margin: 0;
			padding: 0;
		}

		.swiper-container1 {
			width: 86%;
			/*			height: 85%;*/
			margin-left: auto;
			margin-right: auto;

		}

		.swiper-container2 {
			width: 86%;
			/*			height: 85%;*/
			margin-left: auto;
			margin-right: auto;

		}

		.swiper-container3 {
			width: 86%;
			/*			height: 85%;*/
			margin-left: auto;
			margin-right: auto;

		}

		.swiper-container4 {
			width: 86%;
			/*			height: 85%;*/
			margin-left: auto;
			margin-right: auto;

		}

		.swiper-container5 {
			width: 86%;
			/*			height: 85%;*/
			margin-left: auto;
			margin-right: auto;

		}

		.swiper-container6 {
			width: 86%;
			/*			height: 85%;*/
			margin-left: auto;
			margin-right: auto;

		}


		.swiper-slide {
			text-align: center;
			font-size: 18px;
			background: #fff;

			/* Center slide text vertically */
			display: -webkit-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			-webkit-justify-content: center;
			justify-content: center;
			-webkit-box-align: center;
			-ms-flex-align: center;
			-webkit-align-items: center;
			align-items: center;
		}

		.swiper-button-prev,
		.swiper-container-rtl .swiper-button-next {
			background-image: url(xiaopi_h5/images/left.png);
			left: 16%;
			right: auto;
			top: 30%;
			z-index: 999;
		}

		.swiper-button-next,
		.swiper-container-rtl .swiper-button-prev {
			background-image: url(xiaopi_h5/images/rgiht.png);
			right: 16%;
			left: auto;
			top: 30%;
			z-index: 999;
		}

		.btn6-main2 {
			height: auto;
			width: 5rem;
			position: absolute;
			top: 69.7rem;
/*			left: calc((100% - 2.5rem)/ 2);*/
			display: block;
		}

		.btn6-2-1 {
			display: block;
			height: 0.6rem;
			width: 41%;
			float: left;
			margin-right: 0.5rem
		}

		.btn6-2-2 {
			display: block;
			height: 0.6rem;
			width: 41%;
			float: left;
		}

	</style>

</head>

<body>
	<div id="container">

		<div class="page-loading" v-show="loading">
			<div class="page-loading-control">
				<div class="rect1"></div>
				<div class="rect2"></div>
				<div class="rect3"></div>
				<div class="rect4"></div>
			</div>
		</div>

		<div class="page_bg" v-if="is_bgNoShow ==true"> <img src="xiaopi_h5/images/bg1.png" /> </div>

		<div class="page_bg" v-if="is_bgTwoShow ==true"> <img src="https://image.sweetmartmarketing.com/wxcamp_thumb/DOR2fCc8cc.png" /> </div>


		<div class="video-main">

			<img src="xiaopi_h5/images/shipin.png" v-if="!videoImgShow" @click="getVideo" class="videoclss">

		</div>
		<div class="video-main">
			<video id="player" controls class="videoclss" v-if="videoImgShow">
				<source src="xiaopi_h5/shiping.mp4" type="video/mp4">
				您的浏览器不支持 video 标签。
				<video>
		</div>


		<div class="btn1-main">
			<img src="xiaopi_h5/images/1.png" class="btn1" @click="getShow(1)" />
			<img src="xiaopi_h5/images/2.png" class="btn11" @click="getShow(2)" />
		</div>

		<div class="btn2-main">
			<img src="xiaopi_h5/images/3.png" class="btn2" @click="getShow(3)" />
		</div>

		<div class="btn3-main">
			<img src="xiaopi_h5/images/4.png" class="btn3" @click="getShow(4)" />
		</div>

		<div class="btn4-main">
			<img src="xiaopi_h5/images/5.png" class="btn4" @click="getShow(5)" />
		</div>


		<div class="btn5-main">
			<img src="xiaopi_h5/images/6.png" class="btn5" @click="getShow(6)" />
		</div>

		 
		<div v-if="is_bgTwoShow ==true" style="position: absolute;top:68.6rem;display: block;width: 30%;margin-left: 5%;float: left">
			 <img  src="xiaopi_h5/images/erweima1.png" style="width: 80px;height:80px"/>
		</div>
		
				
				
	<div v-if="is_bgTwoShow ==true" style="position: absolute;top:68.6rem;display: block;width: 30%;margin-left: 30%;float: left">
			 <img  src="xiaopi_h5/images/erweima2.png" style="width: 80px;height:80px"/>
		</div>
		
				
<!--
		 
		<div v-if="is_bgTwoShow ==true" style="position: absolute;top:68rem;display: block;width: 30%">
			 <img  src="xiaopi_h5/images/erweima1.png" style="width: 60px;height:60px"/>
		</div>
				
				
-->
				
				

		<div class="weui-mask" v-show="product_show1"></div>
		<div v-show="product_show1" id="cover1" class="act_rule_img_wrap">
			<div class="swiper-container1" v-bind:style="{ marginTop: showTop}">
				<div class="swiper-wrapper">
					<div class="swiper-slide"><img src="xiaopi_h5/images/1-1.png" style="width: 100%;height: 100%"></div>
					<div class="swiper-slide"><img src="xiaopi_h5/images/1-2.png" style="width: 100%;height: 100%"></div>
					<div class="swiper-slide"><img src="xiaopi_h5/images/1-3.png" style="width: 100%;height: 100%"></div>


				</div>
				<!-- Add Pagination -->
				<div class="swiper-pagination" style="display: none"></div>
				<!-- Add Arrows -->
				<div class="swiper-button-next"></div>
				<div class="swiper-button-prev"></div>
			</div>

			<img src="xiaopi_h5/images/close.png" alt="" class="close_act_rule_btn" @click="colseShow(1)" v-bind:style="{ marginTop: closeTop}" />

		</div>


		<div class="weui-mask" v-show="product_show2"></div>
		<div v-show="product_show2" id="cover2" class="act_rule_img_wrap">
			<div class="swiper-container2" v-bind:style="{ marginTop: showTop}">
				<div class="swiper-wrapper">
					<div class="swiper-slide"><img src="xiaopi_h5/images/2-1.png" style="width: 100%;height: 100%"></div>
					<div class="swiper-slide"><img src="xiaopi_h5/images/2-2.png" style="width: 100%;height: 100%"></div>


				</div>
				<!-- Add Pagination -->
				<div class="swiper-pagination" style="display: none"></div>
				<!-- Add Arrows -->
				<div class="swiper-button-next"></div>
				<div class="swiper-button-prev"></div>
			</div>

			<img src="xiaopi_h5/images/close.png" alt="" class="close_act_rule_btn" @click="colseShow(2)" v-bind:style="{ marginTop: closeTop}" />

		</div>



		<div class="weui-mask" v-show="product_show3"></div>
		<div v-show="product_show3" id="cover3" class="act_rule_img_wrap">
			<div class="swiper-container3" v-bind:style="{ marginTop: showTop}">
				<div class="swiper-wrapper">
					<div class="swiper-slide"><img src="xiaopi_h5/images/3-1.png" style="width: 100%;height: 100%"></div>
					<div class="swiper-slide"><img src="xiaopi_h5/images/3-2.png" style="width: 100%;height: 100%"></div>
					<div class="swiper-slide"><img src="xiaopi_h5/images/3-3.png" style="width: 100%;height: 100%"></div>
					<div class="swiper-slide"><img src="xiaopi_h5/images/3-4.png" style="width: 100%;height: 100%"></div>
				</div>
				<!-- Add Pagination -->
				<div class="swiper-pagination" style="display: none"></div>
				<!-- Add Arrows -->
				<div class="swiper-button-next"></div>
				<div class="swiper-button-prev"></div>
			</div>

			<img src="xiaopi_h5/images/close.png" alt="" class="close_act_rule_btn" @click="colseShow(3)" v-bind:style="{ marginTop: closeTop}" />

		</div>


		<div class="weui-mask" v-show="product_show4"></div>
		<div v-show="product_show4" id="cover4" class="act_rule_img_wrap">
			<div class="swiper-container4" v-bind:style="{ marginTop: showTop}">
				<div class="swiper-wrapper">
					<div class="swiper-slide"><img src="xiaopi_h5/images/4-1.png" style="width: 100%;height: 100%"></div>
					<div class="swiper-slide"><img src="xiaopi_h5/images/4-2.png" style="width: 100%;height: 100%"></div>
					<div class="swiper-slide"><img src="xiaopi_h5/images/4-3.png" style="width: 100%;height: 100%"></div>
					<div class="swiper-slide"><img src="xiaopi_h5/images/4-4.png" style="width: 100%;height: 100%"></div>

					<div class="swiper-slide"><img src="xiaopi_h5/images/4-5.png" style="width: 100%;height: 100%"></div>
					<div class="swiper-slide"><img src="xiaopi_h5/images/4-6.png" style="width: 100%;height: 100%"></div>
					<div class="swiper-slide"><img src="xiaopi_h5/images/4-7.png" style="width: 100%;height: 100%"></div>
					<div class="swiper-slide"><img src="xiaopi_h5/images/4-8.png" style="width: 100%;height: 100%"></div>

				</div>
				<!-- Add Pagination -->
				<div class="swiper-pagination" style="display: none"></div>
				<!-- Add Arrows -->
				<div class="swiper-button-next"></div>
				<div class="swiper-button-prev"></div>
			</div>

			<img src="xiaopi_h5/images/close.png" alt="" class="close_act_rule_btn" @click="colseShow(4)" v-bind:style="{ marginTop: closeTop}" />

		</div>

		<div class="weui-mask" v-show="product_show5"></div>
		<div v-show="product_show5" id="cover5" class="act_rule_img_wrap">
			<div class="swiper-container5" v-bind:style="{ marginTop: showTop}">
				<div class="swiper-wrapper">
					<div class="swiper-slide"><img src="xiaopi_h5/images/5-1.png" style="width: 100%;height: 100%"></div>
					<div class="swiper-slide"><img src="xiaopi_h5/images/5-2.png" style="width: 100%;height: 100%"></div>

				</div>
				<!-- Add Pagination -->
				<div class="swiper-pagination" style="display: none"></div>
				<!-- Add Arrows -->
				<div class="swiper-button-next"></div>
				<div class="swiper-button-prev"></div>
			</div>

			<img src="xiaopi_h5/images/close.png" alt="" class="close_act_rule_btn" @click="colseShow(5)" v-bind:style="{ marginTop: closeTop}" />

		</div>

		<div class="weui-mask" v-show="product_show6"></div>
		<div v-show="product_show6" id="cover6" class="act_rule_img_wrap">
			<div class="swiper-container6" v-bind:style="{ marginTop: showTop}">
				<div class="swiper-wrapper">
					<div class="swiper-slide"><img src="xiaopi_h5/images/6-1.png" style="width: 100%;height: 100%"></div>
					<div class="swiper-slide"><img src="xiaopi_h5/images/6-2.png" style="width: 100%;height: 100%"></div>

				</div>
				<!-- Add Pagination -->
				<div class="swiper-pagination" style="display: none"></div>
				<!-- Add Arrows -->
				<div class="swiper-button-next"></div>
				<div class="swiper-button-prev"></div>
			</div>

			<img src="xiaopi_h5/images/close.png" alt="" class="close_act_rule_btn" @click="colseShow(6)" v-bind:style="{ marginTop: closeTop}" />

		</div>


	</div>
</body>
<script type="text/javascript">
	var swiper = new Swiper('.swiper-container1', {
		pagination: '.swiper-pagination',
		nextButton: '.swiper-button-next',
		prevButton: '.swiper-button-prev',
		slidesPerView: 1,
		paginationClickable: true,
		spaceBetween: 30,
		loop: true,

	});



	var swiper = new Swiper('.swiper-container2', {
		pagination: '.swiper-pagination',
		nextButton: '.swiper-button-next',
		prevButton: '.swiper-button-prev',
		slidesPerView: 1,
		paginationClickable: true,
		spaceBetween: 30,
		loop: true,

	});

	var swiper = new Swiper('.swiper-container3', {
		pagination: '.swiper-pagination',
		nextButton: '.swiper-button-next',
		prevButton: '.swiper-button-prev',
		slidesPerView: 1,
		paginationClickable: true,
		spaceBetween: 30,
		loop: true,

	});


	var swiper = new Swiper('.swiper-container4', {
		pagination: '.swiper-pagination',
		nextButton: '.swiper-button-next',
		prevButton: '.swiper-button-prev',
		slidesPerView: 1,
		paginationClickable: true,
		spaceBetween: 30,
		loop: true,

	});



	var swiper = new Swiper('.swiper-container5', {
		pagination: '.swiper-pagination',
		nextButton: '.swiper-button-next',
		prevButton: '.swiper-button-prev',
		slidesPerView: 1,
		paginationClickable: true,
		spaceBetween: 30,
		loop: true,

	});


	var swiper = new Swiper('.swiper-container6', {
		pagination: '.swiper-pagination',
		nextButton: '.swiper-button-next',
		prevButton: '.swiper-button-prev',
		slidesPerView: 1,
		paginationClickable: true,
		spaceBetween: 30,
		loop: true,

	});

</script>
<script>
	var container = new Vue({
		el: "#container",
		data: function() {
			return {
				loading: true,
				product_show1: false,
				product_show2: false,
				product_show3: false,
				product_show4: false,
				product_show5: false,
				product_show6: false,
				page_bg: "",

				closeTop: "",
				showTop: "",
				videoImgShow: false,
				is_bgNoShow: false,
				is_bgTwoShow: false,
				channel_id: "",

			};
		},
		created: function() {
			this.loading = false;

			this.channel_id = zexUtil.GetQueryString("channel_id")



			if (["1", "2", "3", "4", "5"].includes(this.channel_id)) {
					    this.is_bgNoShow = false;
					this.is_bgTwoShow = true;
			}


			if (["C1", "C2", "C3", "C4", "C5"].includes(this.channel_id)) {
				
				
				this.is_bgNoShow = true;
					this.is_bgTwoShow = false;
			}



			if (window.screen.height >= 724) {
				this.closeTop = "10%";
				this.showTop = "10%";

			} else {
				this.closeTop = "6%";
				this.showTop = "6%";
			}
			




			this.getPageInfo();
		},
		methods: {
			//页面初始化
			getPageInfo: function() {
				var reqParams = {
					open_id: zexUtil.GetQueryString("channel_id"),
					operator_type: "login",
					note: "SH20048003-ZEX",
					source: zexUtil.GetQueryString("channel_id"),

				};



				$.ajax({
					url: "https://c.sweetmartmarketing.com/wechatSrv/promotionLog/log.do",
					type: "POST",
					//					contentType: "application/json;charset=utf-8",
					data: reqParams,
					dataType: "json",
					success: function(result) {

					},
					error: function(msg) {

					}
				})


			},

			getShow(obj) {
				switch (obj) {
					case 1:
						this.product_show1 = true;
						$("body").css("overflow", "hidden");
						$("#cover1").show();

						break;
					case 2:
						this.product_show2 = true;
						$("body").css("overflow", "hidden");
						$("#cover2").show();
						break;
					case 3:
						this.product_show3 = true;
						$("body").css("overflow", "hidden");
						$("#cover3").show();
						break;
					case 4:
						this.product_show4 = true;
						$("body").css("overflow", "hidden");
						$("#cover4").show();
						break;
					case 5:
						this.product_show5 = true;
						$("body").css("overflow", "hidden");
						$("#cover5").show();
						break;
					case 6:
						this.product_show6 = true;
						$("body").css("overflow", "hidden");
						$("#cover6").show();
						break;
					case 7:
						location.href = "https://w.url.cn/s/AUSWz0C";
						break;
					case 8:
						location.href = "https://w.url.cn/s/AUSWz0C";
						break;
				}
			},

			colseShow(obj) {
				switch (obj) {
					case 1:
						this.product_show1 = false;
						var swiper = new Swiper('.swiper-container1', {
							pagination: '.swiper-pagination',
							nextButton: '.swiper-button-next',
							prevButton: '.swiper-button-prev',
							slidesPerView: 1,
							paginationClickable: true,
							spaceBetween: 30,
							loop: true,

						});
						break;
					case 2:
						this.product_show2 = false;
						var swiper = new Swiper('.swiper-container2', {
							pagination: '.swiper-pagination',
							nextButton: '.swiper-button-next',
							prevButton: '.swiper-button-prev',
							slidesPerView: 1,
							paginationClickable: true,
							spaceBetween: 30,
							loop: true,

						});
						break;
					case 3:
						this.product_show3 = false;
						var swiper = new Swiper('.swiper-container3', {
							pagination: '.swiper-pagination',
							nextButton: '.swiper-button-next',
							prevButton: '.swiper-button-prev',
							slidesPerView: 1,
							paginationClickable: true,
							spaceBetween: 30,
							loop: true,

						});
						break;
					case 4:
						this.product_show4 = false;
						var swiper = new Swiper('.swiper-container4', {
							pagination: '.swiper-pagination',
							nextButton: '.swiper-button-next',
							prevButton: '.swiper-button-prev',
							slidesPerView: 1,
							paginationClickable: true,
							spaceBetween: 30,
							loop: true,

						});
						break;
					case 5:
						this.product_show5 = false;
						var swiper = new Swiper('.swiper-container5', {
							pagination: '.swiper-pagination',
							nextButton: '.swiper-button-next',
							prevButton: '.swiper-button-prev',
							slidesPerView: 1,
							paginationClickable: true,
							spaceBetween: 30,
							loop: true,

						});
						break;
					case 6:
						this.product_show6 = false;
						var swiper = new Swiper('.swiper-container6', {
							pagination: '.swiper-pagination',
							nextButton: '.swiper-button-next',
							prevButton: '.swiper-button-prev',
							slidesPerView: 1,
							paginationClickable: true,
							spaceBetween: 30,
							loop: true,

						});
						break;
				}
				this.delMask();


			},

			delMask() {
				$("body").css("overflow", "inherit");
			},

			getVideo() {
				this.videoImgShow = true;
				var myVideo = document.getElementById("video1");

				myVideo.play();


			},

		},
	});

</script>

</html>
