<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="x5-fullscreen" content="true">
	<meta name="full-screen" content="yes">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
	<meta http-equiv="cache-control" content="max-age=0" />
	<meta http-equiv="cache-control" content="no-cache" />
	<meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
	<title>填写信息页</title>
	<link rel="stylesheet" href="form.css">
	<link rel="stylesheet" href="../../css/plugins/loading.css">
	<script type="text/javascript" src="../../js/plugins/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="../../js/plugins/md5.min.js"></script>
	<script type="text/javascript" src="../../js/plugins/vue.min.js"></script>
	<script type="text/javascript" src="../../js/plugins/hammer.min.js"></script>
	<script type="text/javascript" src="../../js/plugins/vue-touch.min.js"></script>
	<script type="text/javascript" src="../../js/plugins/jsencrypt.min.js"></script>
	<script type="text/javascript" src="../../js/zexUtility.js"></script>
	<script type="text/javascript" src="../../js/zexService.js"></script>
	<script type="text/javascript" src="../../js/zexApis.js"></script>
</head>
<style>

</style>

<body style="">
	<div id="form_page" class="form_page">
		<div id="page_loading" class="page-loading">
			<div class="page-loading-control">
				<div class="rect1"></div>
				<div class="rect2"></div>
				<div class="rect3"></div>
				<div class="rect4"></div>
				<div class="rect5"></div>
			</div>
		</div>

		<div class="error_leixing" v-show="noticeModal_show" style="display: none;">
			<div class="error_cuowu_box">
				<div class="tishi_top">
					<!--                <div class="tishi_title" v-text="noticeModal_text"></div>-->
					<img class="tishi_title" v-bind:src="user_notice_img" />
				</div>
				<div style="width:100%;height:1px;background-color:#b9b9b9;"></div>
				<div class="tishi_queren" @click="closeModal">确&nbsp;&nbsp;认</div>
			</div>
		</div>

		<div class="tanchutishi" v-show="hintModal.is_show">
			<div class="tanchutishi_box" v-text="hintModal.content"></div>
		</div>

		<img v-bind:src="page_bg">
		<div class="show_box">
			<div class="form_element">
				<div class="top_box"></div>
				<div class="form_name" v-if="page_if.formFields.name">
					<input type="text" placeholder="请输入姓名" v-model="formInput.userName" class="inputclss" />
				</div>
				<div class="form_phone" v-if="page_if.formFields.phoneNum && !page_if.formFields.sms_verify_code">
					<input type="number" placeholder="请输入手机号" v-model="formInput.phone" class="inputclss" />
				</div>

            <div class="form_vertion" v-if="page_if.formFields.sms_verify_code && page_if.formFields.phoneNum">
					<div class="vertion_box">
						<input type="tel" placeholder="请输入手机号" v-model="formInput.phone" class="input_phone" />
						<div id="yanzm" class="vertion_obtain">
							<span v-if="time_num < 60">{{time_num}} 后重新获取</span>
							<span v-touch:tap="getMobileCode()" v-if="time_num == 60" style="">获取验证码</span>
						</div>
					</div>
					<input style="margin-top: 15px;" type="text" placeholder="请输入短信验证码" v-model="formInput.phoneCode" class="inputclss" />
				</div>
				
				<div class="form_city" v-if="page_if.formFields.city">
					<input type="text" placeholder="请输入所在城市" v-model="formInput.city" class="inputclss" />
				</div>



				<div class="city_selcet">
					<select v-model="province_selected" class="left_selcet" >
						<option value=""  disabled selected style='display:none;'>请选择省份</option>
						<option v-for="item in province_list" :value="item.value">{{item.name}}</option>
					</select>


					<select v-model="formInput.city" class="right_selcet" >
						<option value="" disabled selected style='display:none;' >请选择城市</option>
						<option v-for="item in city_list" :value="item.value" v-if="item.province_id ==province_selected ">{{item.name}}</option>
					</select>

				</div>




				<div class="form_address" v-if="page_if.formFields.address">
					<input type="text" placeholder="请输入收货地址" v-model="formInput.address" class="inputclss" />
				</div>
				<div class="form_notice" v-if="user_notice_desc != underfined && user_notice_desc != '' ">
					<div>
						<input class="br10" type="checkbox" id="huiyuanyouhui" value="ture" v-model="checkedNotice">
						<span class="notice_check_text" v-text="user_notice_desc"></span>
						<span class="user_notice_text" v-text="user_notice_text" @click="noticeModal_show = true"></span>
					</div>
				</div>
				<div class="form_button">
					<div class="form_tijiao" :style="{backgroundImage:'url('+page_if.page.commit_btn_img+')'}" @click="userInformation()"></div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>
<script>
	//	window.sessionStorage.setItem('openid',"oCIAVt7-cN0xRS88QwBb0axovTWE");  // 测试用

	var urlParams = zexService.getUrlParamsInfo();
	var form_page = new Vue({
		el: '#form_page',
		data: {
			//表单页面初始化
			page_if: {

			},
			//表单页面背景图
			page_bg: '../../images/lqsuc.jpg',
			//用户须知说明
			user_notice_desc: "",
			//用户须知文案
			user_notice_text: "",
			//用户须知图片url
			user_notice_img: "",
			//用户须知是否勾选
			checkedNotice: false,
			//表单判断是否输入
			formInput: {
				userName: "",
				phone: "",
				phoneCode: "",
				address: "",
				city: ""
			},
			//手机验证码
			verificationCode: '1111',
			//倒计时
			time_num: 60,
			// 提示弹出框
			hintModal: {
				is_show: false,
				content: ""
			},
			//不能重复点击
			one_click: true,
			noticeModal_show: false,
			province_selected: "",
			province_list: [{
					name: "安徽",
					value: "p_001"
				},
				{
					name: "北京",
					value: "p_002"
				},
				{
					name: "福建",
					value: "p_003"
				},
				{
					name: "甘肃",
					value: "p_004"
				},
				{
					name: "广东",
					value: "p_005"
				},
				{
					name: "广西",
					value: "p_006"
				},
				{
					name: "贵州",
					value: "p_007"
				},
				{
					name: "海南",
					value: "p_008"
				},
				{
					name: "河北",
					value: "p_009"
				},
				{
					name: "河南",
					value: "p_010"
				},
				{
					name: "黑龙江",
					value: "p_011"
				},
				{
					name: "湖北",
					value: "p_012"
				},
				{
					name: "湖南",
					value: "p_013"
				},
				{
					name: "吉林",
					value: "p_014"
				},
				{
					name: "江苏",
					value: "p_015"
				},
				{
					name: "江西",
					value: "p_016"
				},
				{
					name: "辽宁",
					value: "p_017"
				},
				{
					name: "内蒙古",
					value: "p_018"
				},
				{
					name: "宁夏",
					value: "p_019"
				},
				{
					name: "山东",
					value: "p_020"
				},
				{
					name: "山西",
					value: "p_021"
				},
				{
					name: "陕西",
					value: "p_022"
				},
				{
					name: "上海",
					value: "p_023"
				},
				{
					name: "四川",
					value: "p_024"
				},
				{
					name: "天津",
					value: "p_025"
				},
				{
					name: "云南",
					value: "p_026"
				},
				{
					name: "浙江",
					value: "p_027"
				},
				{
					name: "重庆",
					value: "p_028"
				}
			],

			city_list: [{
					province_id: "p_001",
					name: "合肥",
					value: "合肥"
				},
				{
					province_id: "p_001",
					name: "蚌埠",
					value: "蚌埠"
				},
				{
					province_id: "p_001",
					name: "芜湖",
					value: "芜湖"
				},
				{
					province_id: "p_002",
					name: "北京",
					value: "北京"
				},
				{
					province_id: "p_003",
					name: "福州",
					value: "福州"
				},
				{
					province_id: "p_003",
					name: "厦门",
					value: "厦门"
				},
				{
					province_id: "p_003",
					name: "泉州",
					value: "泉州"
				},
				{
					province_id: "p_004",
					name: "兰州",
					value: "兰州"
				},
				{
					province_id: "p_005",
					name: "广州",
					value: "广州"
				},
				{
					province_id: "p_005",
					name: "深圳",
					value: "深圳"
				},
				{
					province_id: "p_005",
					name: "东莞",
					value: "东莞"
				},
				{
					province_id: "p_005",
					name: "佛山",
					value: "佛山"
				},
				{
					province_id: "p_005",
					name: "中山",
					value: "中山"
				},
				{
					province_id: "p_006",
					name: "柳州",
					value: "柳州"
				},
				{
					province_id: "p_006",
					name: "南宁",
					value: "南宁"
				},
				{
					province_id: "p_007",
					name: "贵阳",
					value: "贵阳"
				},
				{
					province_id: "p_008",
					name: "海口",
					value: "海口"
				},
				{
					province_id: "p_009",
					name: "石家庄",
					value: "石家庄"
				},
				{
					province_id: "p_009",
					name: "秦皇岛",
					value: "秦皇岛"
				},
				{
					province_id: "p_009",
					name: "唐山",
					value: "唐山"
				},
				{
					province_id: "p_010",
					name: "郑州",
					value: "郑州"
				},
				{
					province_id: "p_011",
					name: "哈尔滨",
					value: "哈尔滨"
				},
				{
					province_id: "p_012",
					name: "武汉",
					value: "武汉"
				},
				{
					province_id: "p_013",
					name: "长沙",
					value: "长沙"
				},
				{
					province_id: "p_014",
					name: "长春",
					value: "长春"
				},
				{
					province_id: "p_014",
					name: "吉林",
					value: "吉林"
				},
				{
					province_id: "p_015",
					name: "南京",
					value: "南京"
				},
				{
					province_id: "p_015",
					name: "苏州",
					value: "苏州"
				},
				{
					province_id: "p_015",
					name: "徐州",
					value: "徐州"
				},
				{
					province_id: "p_015",
					name: "常州",
					value: "常州"
				},
				{
					province_id: "p_015",
					name: "昆山",
					value: "昆山"
				},
				{
					province_id: "p_015",
					name: "南通",
					value: "南通"
				},
				{
					province_id: "p_015",
					name: "无锡",
					value: "无锡"
				},
				{
					province_id: "p_015",
					name: "扬州",
					value: "扬州"
				},
				{
					province_id: "p_016",
					name: "南昌",
					value: "南昌"
				},
				{
					province_id: "p_017",
					name: "大连",
					value: "大连"
				},
				{
					province_id: "p_017",
					name: "沈阳",
					value: "沈阳"
				},
				{
					province_id: "p_017",
					name: "鞍山",
					value: "鞍山"
				},
				{
					province_id: "p_018",
					name: "包头",
					value: "包头"
				},
				{
					province_id: "p_018",
					name: "呼和浩特",
					value: "呼和浩特"
				},
				{
					province_id: "p_019",
					name: "银川",
					value: "银川"
				},
				{
					province_id: "p_020",
					name: "青岛",
					value: "青岛"
				},
				{
					province_id: "p_020",
					name: "济南",
					value: "济南"
				},
				{
					province_id: "p_020",
					name: "日照",
					value: "日照"
				},
				{
					province_id: "p_020",
					name: "临沂",
					value: "临沂"
				},
				{
					province_id: "p_020",
					name: "烟台",
					value: "烟台"
				},
				{
					province_id: "p_020",
					name: "淄博",
					value: "淄博"
				},
				{
					province_id: "p_021",
					name: "太原",
					value: "太原"
				},
				{
					province_id: "p_022",
					name: "西安",
					value: "西安"
				},
				{
					province_id: "p_023",
					name: "上海",
					value: "上海"
				},
				{
					province_id: "p_024",
					name: "成都",
					value: "成都"
				},
				{
					province_id: "p_025",
					name: "天津",
					value: "天津"
				},
				{
					province_id: "p_026",
					name: "昆明",
					value: "昆明"
				},
				{
					province_id: "p_027",
					name: "杭州",
					value: "杭州"
				},
				{
					province_id: "p_027",
					name: "宁波",
					value: "宁波"
				},
				{
					province_id: "p_027",
					name: "温州",
					value: "温州"
				},
				{
					province_id: "p_027",
					name: "湖州",
					value: "湖州"
				},
				{
					province_id: "p_027",
					name: "嘉兴",
					value: "嘉兴"
				},
				{
					province_id: "p_027",
					name: "金华",
					value: "金华"
				},
				{
					province_id: "p_027",
					name: "衢州",
					value: "衢州"
				},
				{
					province_id: "p_027",
					name: "绍兴",
					value: "绍兴"
				},
				{
					province_id: "p_027",
					name: "台州",
					value: "台州"
				},
				{
					province_id: "p_027",
					name: "义乌",
					value: "义乌"
				},
				{
					province_id: "p_027",
					name: "诸暨",
					value: "诸暨"
				},
				{
					province_id: "p_027",
					name: "温岭",
					value: "温岭"
				},
				{
					province_id: "p_028",
					name: "重庆",
					value: "重庆"
				}
			],
		},
		created: function() {
			//            this.getTnitUser();
			setTimeout(function() {
				$('#page_loading').css('display', 'none');
			}, 500);
		},
		methods: {



			getTnitUser: function() {
				var that = this;
				var reqParams = {
					open_id: zexService.getOpenId(),
					promotion_id: urlParams.promotion_id, //      "1000405"
					timestamp: zexUtil.getTimestamp()
				};
				//				console.log(reqParams);

				zexApis.getTnitUser(reqParams).done(function(response) {
					//              	console.log(response);

					if (response.code == '200' && response.promotion_id) {
						//成公关闭loading页面
						setTimeout(function() {
							$('#page_loading').css('display', 'none');
						}, 500);
						that.page_if = response;
						console.log(JSON.stringify(response));
						that.page_bg = response.page.background_img;
						that.user_notice_desc = response.page.user_notice_desc;
						that.user_notice_text = response.page.user_notice_text;
						that.user_notice_img = response.page.user_notice_img;
					}
				})
			},
			//手机获取验证码
			getMobileCode: function() {
				var that = this;
				if (!that.formInput.phone) {
					this.setHintModal("请输手机号码");
					return;
				}
				if (!zexUtil.isMobile(that.formInput.phone)) {
					this.setHintModal("请输正确的手机号");
					return;
				}
				var reqParams = {
					open_id: zexService.getOpenId(),
					promotion_id: urlParams.promotion_id,
					phoneNum: that.formInput.phone,
					timestamp: zexUtil.getTimestamp()
				};
				zexApis.getverificationcode(reqParams).done(function(response) {
					if (response.code == '200') {
						that.verificationCode = response.verificationCode;
						that.time_num = 59;
						var timesNum = setInterval(function() {
							that.time_num--;
							if (that.time_num == 0) {
								clearInterval(timesNum);
								that.time_num = 60;
							}
						}, 1000);
					}
					if (response.code == '40018') {
						that.setHintModal("短信发送失败");
						return;
					}
					if (response.code == '40016') {
						that.setHintModal("短信发送失败");
						return;
					}
				});
			},
			//保存用户信息
			userInformation: function() {
				var that = this;
				if (that.user_notice_desc != undefined && that.user_notice_desc != '') {
					if (!that.checkedNotice) {
						this.setHintModal('请同意并勾选' + that.user_notice_desc);
						return;
					}
				}


				if (that.one_click) {
					that.one_click = false;
					if (that.page_if.formFields.name) {
						if (!that.formInput.userName) {
							this.setHintModal('请输入姓名');
							that.one_click = true;
							return;
						}
						if (!zexUtil.isName(that.formInput.userName)) {
							this.setHintModal('请输入正确的姓名');
							that.one_click = true;
							return;
						}
					}
					if (that.page_if.formFields.phoneNum) {
						if (!that.formInput.phone) {
							this.setHintModal('请输入手机号');
							that.one_click = true;
							return;
						}
						if (!zexUtil.isMobile(that.formInput.phone)) {
							this.setHintModal("请输正确的手机号");
							that.one_click = true;
							return;
						}
					}
					if (that.page_if.formFields.phoneNum && that.page_if.formFields.sms_verify_code) {
						if (!that.formInput.phone) {
							this.setHintModal('请输入手机号');
							that.one_click = true;
							return;
						}
						if (!zexUtil.isMobile(that.formInput.phone)) {
							this.setHintModal("请输正确的手机号");
							that.one_click = true;
							return;
						}
						if (!that.formInput.phoneCode) {
							this.setHintModal("请输短信验证码");
							that.one_click = true;
							return;
						}
					}
					if (that.page_if.formFields.address) {
						if (!that.formInput.address) {
							this.setHintModal('请输入地址');
							that.one_click = true;
							return;
						}
					}
					if (that.page_if.formFields.city) {
						if (!that.formInput.city) {
							this.setHintModal('请输入城市');
							that.one_click = true;
							return;
						}
					}
					var ticket_pic_id = null != window.sessionStorage.getItem("ticket_pic_id") ? window.sessionStorage.getItem("ticket_pic_id") : null != zexUtil.GetQueryString("ticket_pic_id") ? zexUtil.GetQueryString("ticket_pic_id") : "";
					var verify_code = window.sessionStorage.getItem('duijiangma') != null ? window.sessionStorage.getItem('duijiangma') : '';
					var draw_type = (null != ticket_pic_id && ticket_pic_id != '') ? "ticket_draw" : "code_draw";
					var reqParams = {
						open_id: zexService.getOpenId(),
						promotion_id: urlParams.promotion_id,
						prize_level_ids: window.sessionStorage.getItem('prize_level_ids'),
						realName: that.formInput.userName,
						mobile: that.formInput.phone,
						address: that.formInput.address,
						city: that.formInput.city,
						prize_verify_code: verify_code,
						ticket_pic_id: ticket_pic_id,
						draw_type: draw_type,
						sms_verify_code: that.formInput.phoneCode,
						timestamp: zexUtil.getTimestamp()
					};
					zexApis.saveUserInformation(reqParams).done(function(response) {
						if (response.code == '200') {
							//
							var djm = window.sessionStorage.getItem('public_draw');
							var xpscfs = window.sessionStorage.getItem('draw_check_priority');
							if (djm == 'code_draw' || xpscfs == 'first_check') {
								//去结果页面
								window.location.href = '../jieguo/jieguo.html';
							} else if (djm == 'ticket_draw' || xpscfs == 'first_draw') {
								//审核页面
								window.location.href = '../review/review.html';
							}
							that.one_click = true;
						} else if (response.code == '4029') {
							that.one_click = true;
							that.setHintModal('已保存信息');
							return;
						} else if (response.code == '4001') {
							that.one_click = true;
							that.setHintModal('网络不好,请重试');
							return;
						} else if (response.code == '4003') {
							that.one_click = true;
							that.setHintModal('网络不好,请重试');
							return;
						} else if (response.code == '40014') {
							that.one_click = true;
							that.setHintModal('重复点击');
							return;
						} else if (response.code == '4034') {
							that.one_click = true;
							that.setHintModal('验证码不正确');
							return;
						} else if (response.code == '499') {
							that.one_click = true;
							that.setHintModal('网络不好,请重试');
							return;
						}
					}).always(function(status) {
						if (status.statusText == 'timeout') {
							that.one_click = true;
							that.setHintModal('网络不好,请重试');
						};
					});
					reqParams.operator_type = 'writeUserInfo';
					reqParams.source = urlParams.scene;
					reqParams.note = urlParams.promotion_id;
					zexApis.promotionLog(reqParams).done(function() {});
				}
			},
			closeModal: function() {
				this.noticeModal_show = false;
			},
			setHintModal: function(content) {
				var that = this;
				this.hintModal.is_show = true;
				this.hintModal.content = content;
				setTimeout(function() {
					that.hintModal.is_show = false;
				}, 3000);
			}
		}
	})

</script>
