@import "../../css/reset.css";

.form_page {
	width: 100%;
	height: auto;
	/* display:block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative; */
}

img {
	width: 100%;
	height: auto;
	/* min-height: 100%; */
	display: block;
}

.show_box {
	position: absolute;
	top: 0;
	left: 0;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	width: 100%;
	height: 100%;
}

.form_element {
	width: 100%;
	height: 65%;
	display: -webkit-box;
	-webkit-box-align: center;
	-moz-box-align: center;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
}

.top_box {
	width: 100%;
	height: 88px;
}

.form_name {
	width: 100%;
	height: 41px;
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	-moz-box-pack: center;
	-moz-box-align: center;
}

input {
	margin: 0;
	padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none !important;
	margin: 0;
}

.inputclss {
	width: 271px;
	height: 41px;
	outline: none;
	border: none;
	font-size: 14px;
	color: #000;
	line-height: 41px;
	background-color: #fff;
	padding-left: 3%;
	border-radius: 5px;
}

*::-webkit-input-placeholder {
	color: #bebebe;
	text-align: left;
}

.form_phone {
	width: 100%;
	height: 41px;
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	-moz-box-pack: center;
	-moz-box-align: center;
	margin-top: 15px;
}

.form_vertion {
	width: 100%;
	height: 95px;
	display: -webkit-box;
	-webkit-box-align: center;
	-moz-box-align: center;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	margin-top: 15px;
}

.vertion_box {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	border: none;
	width: 271px;
	height: 41px;
	text-align: center;
}

.input_phone {
	width: 170px;
	height: 41px;
	outline: none;
	border: none;
	font-size: 14px;
	color: #000;
	line-height: 41px;
	background-color: #fff;
	padding-left: 3%;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.vertion_obtain {
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	-moz-box-pack: center;
	-moz-box-align: center;
	width: 100px;
	height: 41px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: #b8b8b8;
	color: #fff;
	font-size: 13px;
}

.form_address {
	width: 100%;
	height: 41px;
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	-moz-box-pack: center;
	-moz-box-align: center;
	margin-top: 15px;
}

.form_city {
	width: 100%;
	height: 41px;
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	-moz-box-pack: center;
	-moz-box-align: center;
	margin-top: 15px;
}

.form_notice {
	width: 100%;
	/*    height: 41px;*/
	/*display: -webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    -moz-box-pack:center;
    -moz-box-align:center;*/

	text-align: center;
	margin-top: 15px;
}

.form_notice > div {
	width: 271px;
	font-size: 14px;
	margin: 0 auto;
	position: relative;
	/*display: flex; 
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;		*/
}

.form_notice > div > .br10 {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	float: left;
	/*position: absolute;
	top: 1px;
	left: 0;*/
}

.form_notice > div > .notice_check_text {
	float: left;
	color: #484848;
	display: inline-block;
	margin-left: 0.5rem;
}

.form_notice > div > .user_notice_text {
	float: right;
	color: #002c7d;
	text-decoration: underline;
	display: inline-block;
}

.form_button {
	display: -webkit-box;
	width: 100%;
	/* height: 40px; */
	height: 44px;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	-moz-box-pack: center;
	-moz-box-align: center;
	/*position: absolute;
    top:362px;
    left: 0;*/
	/* margin-top:45px; */
	margin-top: 90px;
}

.form_tijiao {
	display: -webkit-box;
	/* width: 200px;
    height: 40px; */
	width: 250px;
	height: 44px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.tanchutishi {
	z-index: 99999;
	position: absolute;
	top: 0;
	left: 0;
	display: -webkit-box;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0);
}

.tanchutishi_box {
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	-moz-box-pack: center;
	-moz-box-align: center;
	border: none;
	border-radius: 5px;
	width: 42.5%;
	height: 45px;
	background-color: rgba(0, 0, 0, 0.7);
	margin-top: 45%;
	color: #fff;
}

.error_leixing {
	z-index: 99999;
	position: absolute;
	top: 0;
	left: 0;
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	-moz-box-pack: center;
	-moz-box-align: center;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
}

.error_cuowu_box {
	width: 100%;
	height: 100%;
	background-color: #fff;
	/*    border-radius: 5px;*/
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	-moz-box-pack: center;
	-moz-box-align: center;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	overflow: hidden;
	/*    margin-top: -30%;*/
}

.tishi_top {
	width: 100%;
	height: 90%;
	overflow-y: scroll;
}

.tishi_title {
	width: 100%;
	height: auto;
}

.tishi_queren {
	width: 100%;
	height: 10%;
	color: #333;
	font-size: 160%;
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	-moz-box-pack: center;
	-moz-box-align: center;
}



.city_selcet {
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	border: none;
	width: 271px;
	height: 41px;
	text-align: center;
		margin-top: 15px;
}


.left_selcet {
	float: left;
	width: 132px;
	height: 41px;
	outline: none;
	border: none;
	font-size: 14px;
	color: #000;
	line-height: 41px;
	background-color: #fff;
	padding-left: 3%;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}


.right_selcet {
	float: right;
	width: 132px;
	height: 41px;
	outline: none;
	border: none;
	font-size: 14px;
	color: #000;
	line-height: 41px;
	background-color: #fff;
	padding-left: 3%;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
