@import "../../css/reset.css";
.shake_page{
    width: 100%;
    height: auto;
}
.shake_page_img{
    width: 100%;
    height: auto;
    display: block;
}
.show_box{
    position: absolute;
    top: 0;
    left: 0;
    display: -webkit-box;
    -webkit-box-orient:vertical;
    -moz-box-orient:vertical;
    width: 100%;
    /* height: 100%; */
}
/* .kong_box{
    width: 100%;
    height: 49.5%;
} */
.shake_photo{
    display: -webkit-box;
    -webkit-box-orient:vertical;
    -moz-box-orient:vertical;
    -webkit-box-align:center;
    -moz-box-align:center;
    width: 100%;
    /* height: 50.5%; */
}
.prize{
    display: block;
    width: 290px;
    height: 250px;
}
.prize_yd{
    animation: hand_move infinite 2s;
}
@keyframes hand_move
{
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(25deg);
        -moz-transform: rotate(25deg);
        -ms-transform: rotate(25deg);
        -o-transform: rotate(25deg);
        transform: rotate(25deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}
@-webkit-keyframes music-move /* Safari and Chrome */
{
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(15deg);
        -moz-transform: rotate(15deg);
        -ms-transform: rotate(15deg);
        -o-transform: rotate(15deg);
        transform: rotate(15deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}






.shake_jieguo{
    position: relative;
    display: -webkit-box;
    -webkit-box-orient:vertical;
    -moz-box-orient:vertical;
    -webkit-box-align:center;
    -moz-box-align:center;
    width: 100%;
    /* height: 50.5%; */
}
.prize_jieguo{
    display: block;
    /* width: 290px;
    height: 207px; */
    width: 290px;
    height: 250px;
    /* width: 280px;
    height: 197px; */
}
.prize_title{
    position: absolute;
    top: 42px;
    left: 0;
    display: -webkit-box;
    width: 100%;
    padding-left: 9px;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    -moz-box-pack:center;
    -moz-box-align:center;
    font-size: 180%;
    /* font-size: 150%; */
    font-weight: bold;
    font-family: 'PingFang-SC-Medium';
}
.prize_wenzi_box{
    position: absolute;
    left: 27.6%;
    top:75px;
    width: 48%;
    height: 20%;
    font-family: 'PingFang-SC-Medium';
}
.prize_wenzi{
    display: -webkit-box;
    width: 100%;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    -moz-box-pack:center;
    -moz-box-align:center;
    font-size: 160%;
    /* font-size: 120%; */
    height: 10px;
    margin-top: 5px;
    font-family: 'PingFang-SC-Medium';
}
.button{
    width: 210px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: -3px;
    z-index: 9999;
}
.tanchutishi{
    z-index: 99999;
    position: absolute;
    top: 0;
    left: 0;
    display: -webkit-box;
    -webkit-box-pack:center;
    -moz-box-pack:center;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0);
}
.tanchutishi_box{
    display: -webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    -moz-box-pack:center;
    -moz-box-align:center;
    border: none;
    border-radius: 5px;
    width: 42.5%;
    height: 45px;
    background-color: rgba(0,0,0,0.7);
    margin-top: 45%;
    color: #fff;
}
.error_cuowu{
    z-index: 99999;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    -moz-box-pack:center;
    -moz-box-align:center;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
}
.error_leixing{
    z-index: 99999;
    position: absolute;
    top: 0;
    left: 0;
    display: -webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    -moz-box-pack:center;
    -moz-box-align:center;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
}
.error_cuowu_box{
    width: 67.1875%;
    height: 27.7778%;
    background-color:#fff;
    border-radius: 5px;
    display: -webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    -moz-box-pack:center;
    -moz-box-align:center;
    -webkit-box-orient:vertical;
    -moz-box-orient:vertical;
    overflow: hidden;
    margin-top: -30%;
}
.tishi_top{
    width: 100%;
    height: 66.552577%;
    display: -webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    -moz-box-pack:center;
    -moz-box-align:center;
}
.tishi_title{
    font-size: 140%;
    color: #333;
}
.tishi_queren{
    width: 100%;
    height: 33.447423%;
    color: #00bbee;
    font-size: 160%;
    display: -webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    -moz-box-pack:center;
    -moz-box-align:center;
}