<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="x5-fullscreen" content="true">
	<meta name="full-screen" content="yes">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
	<meta http-equiv="cache-control" content="max-age=0" />
	<meta http-equiv="cache-control" content="no-cache" />
	<meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
	<title>信息填写</title>
	<link rel="stylesheet" href="../../css/plugins/loading.css">
	<link rel="stylesheet" href="../../css/plugins/weui.min.css">
	<link rel="stylesheet" href="userInfo.css">
	<script type="text/javascript" src="../../js/plugins/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="../../js/plugins/vue.min.js"></script>
	<!--    <script type="text/javascript" src="../../js/plugins/fastclick.js"></script> -->
	<script type="text/javascript" src="../../js/plugins/jweixin-1.2.0.js"></script>
	<script type="text/javascript" src="../../js/plugins/md5.min.js"></script>
	<script type="text/javascript" src="../../js/plugins/jsencrypt.min.js"></script>
	<script type="text/javascript" src="../../js/plugins/weui.min.js"></script>
	<script type="text/javascript" src="../../js/zexUtility.js"></script>
	<script type="text/javascript" src="../../js/zexService.js"></script>
	<script type="text/javascript" src="../../js/wxConfig.js"></script>
	<script type="text/javascript" src="../../js/zexApis.js"></script>
	<!--    <script type="text/javascript" src="../../js/DMP_S_zexApis.js"></script> -->
</head>

<body>
	<div id="container">
		<div class="page-loading" v-show="loading">
			<div class="page-loading-control">
				<div class="rect1"></div>
				<div class="rect2"></div>
				<div class="rect3"></div>
				<div class="rect4"></div>
			</div>
		</div>



		<div class="page_bg">
			<img :src="page.background_img" alt="" />
		</div>

		<div class="input_wrap">

			<input class="input" id="input" type="text" v-model="input_req.mobile" placeholder="请输入手机号" />

			<div class="sms_box">
				<input class="input" id="inputTwo" type="tel" v-model="input_req.sms_verify_code" placeholder="请输入手机验证码" maxlength="6" />

				<button class="get_check_code" @click="getPhoneCode()" :disabled="time_num < 60" v-text="get_code_txt">

			</div>
		</div>

		<div class="next" @click="next()">
			<img :src="page.commit_btn_img" alt="" />
		</div>

	</div>
</body>
<script>
	document.addEventListener('touchstart', function() {});
	// $(function() {FastClick.attach(document.body);});
	// $(".input_wrap").css("min-height",document.body.clientHeight + "px");

	new Vue({
		el: "#container",
		data: function() {
			return {
				loading: true,
				page: {},
				base_info: {},
				input_req: {
					realName: "",
					mobile: "",
					address: "",
					city: "",
					sms_verify_code: ""
				},
				res_form_fields: [], //需要验证的表单
				time_num: 60,
				get_code_txt: "获取验证码",
				res_check_sms_code: null,
				code_img: "",
				notice_desc_color: "#333",
				notice_text_color: "#333",
				rotate_result: {},
				next_isDisable: false,
				is_check2: false,
				draw_type: "ticket_draw",
				urlParams: {},
			};

		},
		created: function() {

			this.rotate_result = JSON.parse(window.sessionStorage.getItem("base_info")) || {};
			this.urlParams = JSON.parse(window.sessionStorage.getItem("urlParams")) || {};

			this.getTnitUser();
			this.loading = false;

		},

		methods: {

			// 初始化填写信息页面
			getTnitUser: function() {
				var req = {
					open_id: this.urlParams.open_id,
					promotion_id: this.urlParams.promotion_id,
					timestamp: zexUtil.getTimestamp()
				};
				zexApis.getTnitUser(req).done((function(res) {

					if (res.code == 200) {
						this.page = res.page;
						for (var k in res.formFields) {

							this.res_form_fields.push(res.formFields[k].field_name);
						}

						window.sessionStorage.setItem("prize_type", res.prize_type);
						window.sessionStorage.setItem("outcode_type", res.outcode_type);

					}
				}).bind(this));
			},


			// 获取手机验证码
			getPhoneCode: function() {
				if (!zexUtil.isMobile(this.input_req.mobile)) {
					this.alertInfo("提示", "请输入正确的手机号码哦~", "好的", false);
					return;
				}

				var req = {
					open_id: this.urlParams.open_id,
					promotion_id: this.urlParams.promotion_id,
					phoneNum: this.input_req.mobile,
					timestamp: zexUtil.getTimestamp()
				};

				this.get_code_txt = "正在发送";
				// 获取短信验证码接口
				zexApis.getverificationcode(req).done((function(res) {
					if (res.code == 200) {
						weui.toast('发送成功', {
							duration: 2000,
							className: 'font-14'
						});
						this.res_check_sms_code = res.verificationCode;
						// 倒数
						this.time_num = 59;
						this.get_code_txt = this.time_num + " s";
						var setInter = setInterval((function() {
							this.time_num--;
							this.get_code_txt = this.time_num + " s";
							if (this.time_num === 0) {
								this.time_num = 60;
								this.get_code_txt = "获取验证码";
								clearInterval(setInter);
							}
						}).bind(this), 1000);
					} else if (res.code == 40018) {
						this.alertInfo('提示', '短信发送失败，请再试一下...', '好的呢', false);
						this.time_num = 60;
						this.get_code_txt = "获取验证码";
					} else if (res.code == 40016) {
						this.alertInfo('提示', '短信发送失败，请再试一下...', '好的呢', false);
						this.get_code_txt = "获取验证码";
					} else {
						this.get_code_txt = "获取验证码";
					}
				}).bind(this));
			},

			next: function() {

				var self = this;

				if (!this.input_req.mobile.trim()) {
					this.alertInfo('提示', '请输入手机号...', '好的呢', false);
					return;
				}
				if (!zexUtil.isMobile(this.input_req.mobile.trim())) {
					this.alertInfo('提示', '请输入正确的手机号码哦...', '好的呢', false);
					return;
				}
				if (!this.input_req.sms_verify_code.trim()) {
					this.alertInfo('提示', '请输入短信验证码哦...', '好的呢', false);
					return;
				}
				window.sessionStorage.setItem('mobile', this.input_req.mobile.trim());


				var req = {
					open_id: this.urlParams.open_id,
					promotion_id: this.urlParams.promotion_id,

					mobile: this.input_req.mobile.trim(),

					timestamp: zexUtil.getTimestamp()
				};


				self.loading = true;

				zexApis.validateTicketByMobile(req).done((function(res) {
					setTimeout((function() {

						self.loading = false;

						if (res.code == 10000 || res.code == '10000') {
							this.toastInfo('提交成功', 2000);
							window.location.href =
								"../uploadTicket/uploadTicket.html";

						} else if (res.code == 10002 || res.code == '10002') {

							this.alertInfo('提示', '该手机号码已参加过活动！', '好的呢', true);

							wx.closeWindow();


						}  else if (res.code == 4029) {
							this.alertInfo('提示', '信息已提交过啦，请勿重复提交哦~ ', '好的呢', true);
						} else if (res.code == 4001) {
							this.alertInfo('提示', '哎呀... 网络有点繁忙 ~', '好的呢', false);
						} else if (res.code == 40014) {
							this.alertInfo('提示', '重复点击啦~ 再慢点...', '好的呢', false);
						} else if (res.code == 4034) {
							this.alertInfo('提示', '短信验证码不正确哦，再检查检查...', '好的呢',
								false);
						} else {
							this.alertInfo('提示', res.code + ' 服务器有点繁忙哦~ 请稍后再试试看...',
								'好的呢', false);
						}
					}).bind(this), 1000);

				}).bind(this)).always((function(status) {
					if (status.statusText == 'timeout') {
						this.alertInfo('提示', 'timeout 服务器有点繁忙哦~ 请稍后再试试看...', '好的呢', false);
					}
				}).bind(this));
			},

			// weUI Alert => clickBtn -> closeWindow()
			alertInfo: function(title, content, btnTxt, isCloseWindow) {
				weui.alert(content, {
					title: title,
					buttons: [{
						label: btnTxt,
						type: 'primary',
						onClick: (function() {
							if (isCloseWindow) {
								this.closeWindow()
							}
						}).bind(this)
					}]
				});
			},

			// weUI toast => clickBtn -> closeWindow()
			toastInfo: function(content, duration, isCloseWindow) {
				weui.toast(content, {
					duration: duration,
					className: 'font-14',
					callback: (function() {
						if (isCloseWindow) {
							this.closeWindow()
						}
					}).bind(this)
				});
			},

			// wx SDK closeWindow
			closeWindow: function() {
				wx.closeWindow();
			}

		}
	});

	window.onload = function() {
		document.getElementById('input').addEventListener('blur', function() {
			window.scrollTo(0, 0) //页面滚动到顶部
		}, false)
		document.getElementById('inputTwo').addEventListener('blur', function() {
			window.scrollTo(0, 0) //页面滚动到顶部
		}, false)

	}

</script>

</html>
