/*@import "reset.css";*/
html {
    font-size: 13.33333333vw
}

#container {
    width: 100%;
    height: auto;
    position: relative;
}

.page_bg {
    /*    position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    display: block;
    overflow: hidden;
    pointer-events: none;
    /*    position: relative; */
}

.page_bg img {
    width: 100%;
    height: 100%;
    display: block;
}

.btm_wrap {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    top: 11rem;
    text-align: center;
}

.btm_btn_wrap {
    width: 5.01rem;
    height: .89rem;
    margin: 0 auto;
    /*border: 1px solid #000;*/
}

.btm_btn_wrap .btn {
    width: 100%;
    margin: 0;
    height: 100%;
    display: block;
    /*border: 1px solid red;*/
    /*    background-size: 100% auto;
    background-repeat: no-repeat; */
    opacity: 1;
    transition: all .5s;
    -webkit-transition: all .5s;
}

.btm_btn_wrap .btn:active {
    opacity: .85;
    transition: all .3s;
    -webkit-transition: all .3s;
}

.act_rule_wrap {
    width: 90%;
    /*    height: .5rem;
	line-height: .5rem; */
    margin: 0 auto;
    text-align: center;
    margin-top: .155rem;
}

.act_rule_btn {
    font-size: .26rem;
    /* 		color: rgb(254,201,68); */
    color: #fff;
    text-decoration: underline;
    width: 2rem;
    /*    height: .5rem; */
    margin: 0 auto;
}

.act_rule_img_wrap {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    overflow-y: hidden !important;
}

.act_rule_img {
    width: 100%;
    height: 12.2rem;
    margin: 5% auto 0;
    overflow-y: hidden;
    border-radius: .2rem;
}

.close_act_rule_btn {
    position: fixed;
 
    /* left: 5%; */
    z-index: 9999;
    left: calc((100% - 0.6rem)/ 2);
    width: 0.6rem;
}



.act_rule_img img {
    width: 100%;
    height: auto;
    border-radius: .2rem;
}

.date_wrap {
    color: #fff;
    /* 	color: rgb(254,201,68); */
    font-size: .3rem;
    margin-top: .42rem;
}

.rank_wrap {
    width: 1.28rem;
    height: 1.35rem;
    position: absolute;
    right: 0;
    top: 7.18rem;
}

.rank_wrap_img {
    width: 1.28rem;
    height: 1.35rem;
}

.choose {
    height: 9.64rem;
    width: 6.4rem;
    /* 	border: 1px solid red; */
    position: absolute;
    top: 1.1rem;
    left: calc((100% - 6.4rem) / 2);
    z-index: 1001;
}

.choose_bg {
    height: 100%;
    width: 100%;
    display: block;
}

.guanbi {
    height: .54rem;
    width: .54rem;
    display: block;
    position: absolute;
    top: -.54rem;
    right: 0;
}

.choose_btn1 {
    height: .9rem;
    width: 4.5rem;
    position: absolute;
    top: 3.82rem;
    left: calc((100% - 4.5rem)/ 2);
}

.choose_btn2 {
    height: .9rem;
    width: 4.5rem;
    position: absolute;
    top: 5.6rem;
    left: calc((100% - 4.5rem)/ 2);
}



.videoImg-main{
	  height: auto;
    width: 6.5rem;
    position: absolute;
    top: 19rem;
    left: calc((100% - 6.5rem)/ 2);
    display: block;
}



.video-main {
    height: auto;
    width: 6.5rem;
    position: absolute;
    top: 19rem;
    left: calc((100% - 6.5rem)/ 2);
    display: block;
 }
.videoclss {
    display: block;
    height: 4.2rem;
    width: 100%;
 
}

.btn1-main {
    height: auto;
    width: 7rem;
    position: absolute;
    top: 45rem;
    left: calc((100% - 6.5rem)/ 2);
    display: block;
}

.btn1 {
    display: block;
    height: 2.6rem;
    width: 53%;
    float: left;
    /*    margin-right: .1rem;*/
}

.btn11 {
    display: block;
    height: 2.6rem;
    width: 46.4%;
    float: left;
}

.btn2-main {
    height: auto;
    width: 6.5rem;
    position: absolute;
    top: 50rem;
    left: calc((100% - 6.5rem)/ 2);
    display: block;
}

.btn2 {
    display: block;
    height: 3.2rem;
    width: 100%;
    border-radius: .2rem;
}

.btn3-main {
    height: auto;
    width: 6.5rem;
    position: absolute;
    top: 53.7rem;
    left: calc((100% - 6.5rem)/ 2);
    display: block;
}

.btn3 {
    display: block;
    height: 5.7rem;
    width: 100%;
    border-radius: .2rem;
}

.btn4-main {
    height: auto;
    width: 6.5rem;
    position: absolute;
    top: 59.7rem;
    left: calc((100% - 6.5rem)/ 2);
    display: block;
}

.btn4 {
    display: block;
    height: 3rem;
    width: 100%;
    border-radius: .2rem;
}

.btn5-main {
    height: auto;
    width: 6.5rem;
    position: absolute;
    top: 65.1rem;
    left: calc((100% - 6.5rem)/ 2);
    display: block;
}

.btn5 {
    display: block;
    height: 3rem;
    width: 100%;
    border-radius: .2rem;
}

.btn6-main {
    height: auto;
    width: 4rem;
    position: absolute;
    top: 69.8rem;
    left: calc((100% - 1.5rem)/ 2);
    display: block;
}

.btn6 {
    display: block;
    height: 0.6rem;
    width: 100%;
    border-radius: .2rem;
}