<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="x5-fullscreen" content="true">
	<meta name="full-screen" content="yes">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
	<meta http-equiv="cache-control" content="max-age=0" />
	<meta http-equiv="cache-control" content="no-cache" />
	<meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
	<title>可口可乐</title>
	<link rel="stylesheet" href="../../css/plugins/loading.css">
	<link rel="stylesheet" href="../../css/plugins/weui.min.css">
	<link rel="stylesheet" href="rewardPrize.css">
	<script type="text/javascript" src="../../js/plugins/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="../../js/plugins/jweixin-1.2.0.js"></script>
	<script type="text/javascript" src="../../js/plugins/md5.min.js"></script>
	<script type="text/javascript" src="../../js/plugins/vue.min.js"></script>
	<script type="text/javascript" src="../../js/plugins/hammer.min.js"></script>
	<script type="text/javascript" src="../../js/plugins/vue-touch.min.js"></script>
	<script type="text/javascript" src="../../js/plugins/jsencrypt.min.js"></script>
	<script type="text/javascript" src="../../js/plugins/weui.min.js"></script>
	<script type="text/javascript" src="../../js/zexUtility.js"></script>
	<script type="text/javascript" src="../../js/zexService.js"></script>
	<script type="text/javascript" src="../../js/wxConfig.js"></script>
	<script type="text/javascript" src="../../js/zexApis.js"></script>
	
	<script type="text/javascript">
		// zexWxConfig.runConfig(true,function(){});
	</script>
	
	<style>
		.weui-dialog__hd,
		.weui-dialog__bd {
			padding-top: 0;
			padding-bottom: 0;
		}

		.weui-toast {
			width: 2.2rem;
			height: 2.2rem;
			min-height: 2.2rem;
			top: 5rem;
			margin-left: -1rem;
		}

		.weui-toast__content {
			margin: 0 0 .32rem;
			font-size: .28rem;
			margin-top: -.15rem;
		}

	</style>
</head>

<body>
	<div id="container">
		<div class="page-loading" v-show="loading">
			<div class="page-loading-control">
				<div class="rect1"></div>
				<div class="rect2"></div>
				<div class="rect3"></div>
				<div class="rect4"></div>
			</div>
		</div>

		<div class="page_bg">
			<img :src="page_info.receive_bg" alt="">

		</div>

		<!-- 中奖信息 -->
		<div class="prize_info">
			<img src="../../images/zj/oneZJ.png" alt="" style="width: 100%;" v-if="prize_texts.indexOf('一等奖')>0">
			<img src="../../images/zj/twoZJ.png" alt="" style="  width: 100%;" v-if="prize_texts.indexOf('二等奖')>0">
		<img src="../../images/zj/threeZJ.png" alt="" style=" width: 100%;" v-if="prize_texts.indexOf('三等奖')>0">
		</div>

		<!-- 按钮处 -->
		<div class="next" v-touch:tap="next()">
			<img :src="page_info.wining_btn_img" alt="" v-if="prize_texts.indexOf('三等奖') <= 0">
			<img :src="page_info.not_wining_btn_img" alt="" v-if="prize_texts.indexOf('三等奖')>0">
		</div>

	</div>
</body>
<script>
	if (history && history.pushState) {
		history.pushState({
			title: document.title,
			url: location.href
		}, document.title, location.href);
	}

	//添加退弹事件
	window.addEventListener("popstate", function(e) {
		// alert("我监听到了浏览器的返回按钮事件啦1"); 
		location.href = 'rewardPrize.html'; //在这里指定其返回的地址
	});

	var container = new Vue({
		el: "#container",
		data: function() {
			return {
				loading: true,
				act_rule_show: false,
				page_info: {
					receive_bg: "../../images/zj/bg.jpg",
					wining_btn_img: "../../images//zj/ZJButton.png",
					not_wining_btn_img: "../../images/zj/threeButton1.png",
					
				},
				prize_texts: "获得一等奖",
				base_info: {},
				referrer_check: false,
				checkCodeImg: "",
				one_click: false,
				actid: "", //  活动卡券id
				prize_level_ids: "",

			};
		},
		created: function() {
			var _this = this;
			_this.loading = false;

				        zexWxConfig.runConfig(function () {
							_this.getPageInfo();
							_this.page_info = JSON.parse(window.sessionStorage.getItem("prizeInfo")) || {}; 
							_this.loading = false;	
												
						});			
						this.prize_level_ids = window.sessionStorage.getItem("prize_level_ids") || "";
						this.prize_texts = window.sessionStorage.getItem("prize_texts") || "";
					
				
			
			
						var logReq = {};
						logReq.open_id = zexService.getOpenId();				
						logReq.operator_type = 'winning';
						logReq.source = urlParams.scene;
						if( this.prize_code == "4025"){
							logReq.note = "未中奖";
						}else{
							logReq.note = window.sessionStorage.getItem("prize_texts");				
						}
						zexApis.promotionLog(logReq).done(function () {});		
			//			

		},

		methods: {


			//页面初始化
			getPageInfo: function() {
				var that = this;
				var reqParams = {
					open_id: zexService.getOpenId(),
					promotion_id: urlParams.promotion_id,
					ticket_pic_id: window.sessionStorage.getItem("ticket_pic_id"),
					timestamp: zexUtil.getTimestamp()
				};
				zexApis.getAdverpage(reqParams).done(function(response) {
					console.log(JSON.stringify(response));
					if (response.code == '200' && response.promotion_id) {
						//成公关闭loading页面
						setTimeout(function() {
							$('#page_loading').css('display', 'none');
						}, 500);
						// that.luckyDraw();
						that.page_if = response;
						// that.advert_bg = response.page.advert_background_img;
						that.receive_bg = response.page.receive_background_img;
						that.wining_success_text = response.page.wining_success_text;
						that.wining_btn_img = response.page.wining_btn_img;
						that.not_wining_btn_img = response.page.not_wining_btn_img;
						that.not_wining_fail_text = response.page.not_wining_fail_text;
						var jsonUserFlowStr;
						if (response.jsonUserFlowStr) {
							jsonUserFlowStr = JSON.parse(response.jsonUserFlowStr);
						};

						if (null != jsonUserFlowStr) {
							var next_page = jsonUserFlowStr.next_page;
							if (next_page == 'receive_receive_page') {

								window.sessionStorage.setItem('nextPage', next_page);
								window.sessionStorage.setItem('prize_level_ids', jsonUserFlowStr.prize_level_ids); //存储中奖等级ID
								window.sessionStorage.setItem('shake_text', jsonUserFlowStr.prize_texts);

								window.sessionStorage.setItem('ticket_pic_id', jsonUserFlowStr.ticket_pic_id);

							} else if (next_page == 'fill_userinfo_page') {

								window.sessionStorage.setItem('ticket_pic_id', jsonUserFlowStr.ticket_pic_id);
								window.sessionStorage.setItem('prize_level_ids', jsonUserFlowStr.prize_level_ids);
								window.sessionStorage.setItem('duijiangma', jsonUserFlowStr.verify_code);
								window.sessionStorage.setItem('public_draw', jsonUserFlowStr.draw_type);
								window.sessionStorage.setItem('shake_text', jsonUserFlowStr.prize_texts);
								window.sessionStorage.setItem('draw_check_priority', jsonUserFlowStr.draw_check_priority);
								window.location.href = '../form/form.html';

							}
						}

					} else if (response.code == '4001') {
						that.alertInfo("提示", "网络不好,请重试", "我知道了", true);
						return;
					} else if (response.code == '4003') {
						that.alertInfo("提示", "网络不好,请重试", "我知道了", true);
						return;
					} else if (response.code == '4004') {
						that.alertInfo("提示", "网络不好,请重试", "我知道了", true);
						return;
					} else if (response.code == '4019') {
						that.alertInfo("提示", "促销活动不存在", "我知道了", true);
						return;
					} else if (response.code == '4014') {
						that.alertInfo("提示", "活动未开始", "我知道了", true);
						return;
					} else if (response.code == '4015') {
						that.alertInfo("提示", "活动已结束", "我知道了", true);
						return;
					} else if (response.code == '4017') {
						that.alertInfo("提示", "活动暂停", "我知道了", true);
						return;
					} else if (response.code == '4018') {
						that.alertInfo("提示", "活动已下架", "我知道了", true);
						return;
					} else if (response.code == '4035') {
						that.alertInfo("提示", "活动未上线", "我知道了", true);
						return;
					} else if (response.code == '499') {
						//成公关闭loading页面
						setTimeout(function() {
							that.alertInfo("提示", "促销活动不存在", "我知道了", true);
						}, 500);
						return;
					}
				})
			},

			// 跳转至上传小票页
			next: function() {

				if (!this.one_click) {
					this.one_click = true;

					if (this.page_info.prize_texts.indexOf('一等奖') > 0) {

						this.getPrize();


					} else if (this.page_info.prize_texts.indexOf('二等奖') > 0) {


						this.getPrize();

					} else if (this.page_info.prize_texts.indexOf('三等奖') > 0) { // 三等奖				

						window.location.href = '../threePrize/threePrize.html';

					}
				} else {
					this.alertInfo("提示", '已领取，请勿重复点击', "我知道了", false);
				}

			},


			// 领取奖励				
			getPrize: function() {
				var _this = this;

				if (!this.one_click) {
					this.one_click = true;
				} else {
					this.alertInfo("提示", "您手速太快了！请勿重复领取~", "好的", false);
					return
				}

				if (this.noPrize == true) {
					wx.closeWindow();
					return
				}

				var receivePrizeLevelReq = {
					open_id: zexService.getOpenId(),
					promotion_id: urlParams.promotion_id,
					prize_level_ids: this.prize_level_ids,
					// draw_type: "code_draw",
					// verify_code: window.sessionStorage.getItem('duijiangma') || "",		
					draw_type: "ticket_draw", // code_draw -- 兑奖码,	
					ticket_pic_id: window.sessionStorage.getItem("ticket_pic_id"),
					timestamp: zexUtil.getTimestamp(),
				};
				console.log(receivePrizeLevelReq);

				zexApis.getInterfacecode(receivePrizeLevelReq).done((function(receivePrizeLevelRes) {
					// alert( JSON.stringify(receivePrizeLevelRes) );

					if (receivePrizeLevelRes.code == "200" || receivePrizeLevelRes.code == 200) {

						setTimeout(function() {


							window.location.href = "../userInfo/userInfo.html";
						}, 1500);

					} else {
						this.alertInfo("提示", "系统繁忙   -" + receivePrizeLevelRes.code, "我知道了", false);
					}
				}).bind(this));
			},

			// weUI Alert => clickBtn -> closeWindow()
			alertInfo: function(title, content, btnTxt, isCloseWindow) {
				weui.alert(content, {
					title: title,
					buttons: [{
						label: btnTxt,
						type: 'primary',
						onClick: (function() {
							if (isCloseWindow) {
								this.closeWindow()
							}
						}).bind(this)
					}]
				});
			},

			// wx SDK clickWindow
			closeWindow: function() {
				wx.closeWindow();
			},
		},
	});

</script>

</html>
